<% question = params["question"] %>
<div class="w-50 p-3 bg-info bg-opacity-10 border border-5 border-info border-end-0 border-top-0 border-bottom-0 mb-4">
  <blockquote class="blockquote mb-0">
    <p class="fw-bold"><%= question %></p>
    <footer class="blockquote-footer"><cite title="Source Title">You</cite></footer>
  </blockquote>
</div>

<div class="w-50 p-3 bg-warning bg-opacity-10 border border-5 border-warning border-end-0 border-top-0 border-bottom-0 mb-4">
  <blockquote class="blockquote mb-0">
    <p class="fw-bold">
      <% if question == "I am going to work" %>
        <%=  "Great!" %>
      <% elsif question[-1] == "?" %>
        <%= "Silly question, get dressed and go to work!" %>
      <% else %>
        <%= "I don't care, get dressed and go to work!" %>
      <% end %>
    </p>
    <footer class="blockquote-footer"><cite title="Source Title">Coach</cite></footer>
  </blockquote>
</div>

<%= link_to "Ask a new question", ask_path, class: 'btn text-dark  fw-bold', style: 'background-color:rgba(13, 202, 240, 0.5);' %>

</div>
